[user]
	email = johan.hammar@gmail.com
	name = Johan Hammar

[alias]
	ci = commit
	co = checkout
    s = status --short --branch
    st = status
    alias = config --get-regexp 'alias.*'
    pp = log --graph --abbrev-commit --decorate --date=relative --all
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    today=log --color --graph --pretty=format:'%Cgreen[%Creset%h%Cgreen]%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --since=yesterday

[push]
	default = current

[help]
	autocorrect = 1

