"*":
  core:
    ignoredNames: [
      ".bundle"
      ".git"
      "tmp"
      ".DS_Store"
    ]
    themes: [
      "atom-dark-ui"
      "atom-dark-syntax"
    ]
  editor:
    fontFamily: "Source Code Pro"
    invisibles: {}
    preferredLineLength: 120
    scrollPastEnd: true
    showIndentGuide: false
    showLineNumbers: true
  "exception-reporting":
    userId: "e5d95787-c53e-ccb8-7d53-c3fc40c21547"
  "tree-view":
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
